
@model Student
<h2>Add Student </h2>

<form method= "POST" asp-action="Add" asp-controller="Home">
          
            <label for="name" class="form-label">Name</label>
            <input class="form-control" asp-for="Name" /> </br>
          
            <label for="email" class="form-label">Email</label>
            <input class="form-control" asp-for="Email" /> <br />

            <label for="course" class="form-label">Course</label>   </br>

            <select class="form-control" asp-items="Html.GetEnumSelectList<Courses>()">
                <option>Select Course</option>
            </select>
          
          <button type="submit" class="btn btn-primary">Submit</button>  <br />
        </form>
